################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Auto-Schedule/Infrastructure/Migrations
/frontend/.vscode
